# SendGrid Email Configuration
SENDGRID_API_KEY=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
CONTACT_EMAIL=sales@port24.tech
SENDGRID_FROM_EMAIL=sales@port24.tech

# Node Environment
NODE_ENV=production

# Next.js Configuration
NEXT_PUBLIC_SITE_URL=https://www.port24.tech
